@font-face {
    font-family: Univers;
    font-weight: 300 900;
    font-style: normal;
    src: url(univers-next-regular.woff2) format('woff2 supports variations'), url(univers-next-regular.woff2) format('woff2-variations');
    font-display: swap
}

body {
    font-family: Univers, -apple-system, system-ui;
    font-stretch: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

.container {
    text-align: center;
}

button {
    font-family: Univers, -apple-system, system-ui;
    padding: 18px 30px 15px 30px;
    font-size: 18px;
    background-color: #002bf5;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 10em;
    margin: 2em 0;
}

button:hover {
    background-color: #3358FF;
}

#timerScreen {
    position: relative;
    width: min(90vw, 600px);
    height: min(90vw, 600px);
}

#timer {
    font-size: 4rem;
    font-weight: bold;
}

#circle {
    position: absolute;
    width: 100%;  
    height: 100%;
    border-radius: 50%; 
    z-index: -1;
}

#timerData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    padding: 0 40px;
}

#phaseText {
    font-size: 2rem;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.gold {
    background-color: #feb32b;
}

.blue {
    background-color: #002bf5;
}

.green {
    background-color: #2ECC71;
}

#intervalCounter {
    font-size: 1.7rem;
    margin-top: 1rem;
    color: #fff;
}

.ring-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.line {
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #ffffff00;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transition: background-color 0.4s ease;
}

.line.gone {
    background-color: #ffffff;
}
