---
---

@import "{{ site.theme }}";
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

// @font-face {
//   font-family: 'MaruMono';
//   src: url('../fonts/GT-Maru-Mono-Regular-Oblique.woff2') format('woff2');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'MaruMono';
//   src: url('../fonts/GT-Maru-Mono-Regular.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Maru';
//   src: url('../fonts/GT-Maru-Regular.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Maru';
//   src: url('../fonts/GT-Maru-Regular-Oblique.woff2') format('woff2');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Maru';
//   src: url('../fonts/GT-Maru-Bold.woff2') format('woff2');
//   font-weight: bold;
//   font-style: normal;
// }

body{
  font-family: "Inter", "Helvetica Neue", "Helvetica", sans-serif;
  font-feature-settings: 'ss01' 1, 'zero' 1;
  background: #21242c;
  color: #efeae1;
}

.page-header-simple{
  padding: 1em;
  font-size: 1.4em;
  font-weight: 500;
}

.page-header-simple a, .page-header-simple a:hover, .page-header-simple a:visited{
  color: #7aaf9f;
}

.page-header-simple a:hover{
  text-decoration: none;
}

a, a:visited, a:hover{
//   Dusty Blue
 color: #679dc6 
}

.main-content h1, .main-content h2, .main-content h3{
  // Dusty Gold
  color: #faba09;
  font-weight: 600; 
}

.main-content h4, .main-content h5, .main-content h6{
  //   Dusty Green
  color: #7aaf9f;
  font-weight: 500; 
}

.main-content h4{
  margin-top: 0
}

.main-content table{
 display: table;
 box-shadow: 0 2px 5px 0 rgba(0,0,0,.22),0 2px 10px 0 rgba(0,0,0,.18);
}

.main-content table th, .main-content table td{
  background-color: #18181888;
  border: none;
}

.main-content tbody tr:nth-child(odd) {
  background-color: #181818bb;
}

// code highlight

.highlight{
  background-color: #0000;
}

.main-content code{
  background-color: #181818;
  color: #faba09;
}

.main-content pre>code{
  background-color: #181818;
  color: #efeae1;
}
.main-content pre{
  border: none;
  background-color: #181818;
}

// Python highlighting

.highlight .k, .highlight .kv, .highlight .ow{
  color: #faba09;
}

.highlight .o, .highlight .bp, .highlight .kn, .highlight .kd{
  color: #f92472;
}

.highlight .nf, .highlight .nb{
  color: #66d7ee;
}

.highlight .mi, .highlight .mh, .highlight .mf{
  color: #ac80ff;
}

.highlight .nn{
  color: #efeae1;
}

.highlight .s, .highlight .s2{
  color: #ff695a;
}

.highlight .kt {
  color: #00cca0;
}
