---
---

@import "{{ site.theme }}";

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
html { font-family: 'Inter var', sans-serif; }
}

body{
  font-family: "Inter", "Helvetica Neue", "Helvetica", sans-serif;
  font-feature-settings: 'ss01' 1, 'zero' 1;
}
