---
---
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,500;1,300;1,500&display=swap');

// @font-face {
//   font-family: 'Minion';
//   src: url('../fonts/MinionPro-Regular.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Minion';
//   src: url('../fonts/MinionPro-It.woff2') format('woff2');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Minion';
//   src: url('../fonts/MinionPro-Medium.woff2') format('woff2');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Minion';
//   src: url('../fonts/MinionPro-MediumIt.woff2') format('woff2');
//   font-weight: bold;
//   font-style: italic;
// }

:root {
      --bg: #040d21;
      --text: #fff;
      --link: #91e4dd; 
      --link-green: #4bb777;
      --link-red: #9ff6d2;
      --dim: #494f51;
      --code-text: #fff;
      --code-bg: #070b14;
      --border-line: #ffffff00;
      --inline: #7effca;
}

body{
  font-family: "Crimson Pro", serif;
  background: var(--bg);
  color: var(--text);
  font-weight: 300;
  line-height: 1.25;
}

header{
  display: flex;
  justify-content: space-between;
}

pre{
  line-height: 1;
}

blockquote{
  font-style: italic;
}

h2 + h3{
  margin-top: 0!important;
}

h3 + h4{
  margin-top: 0!important;
}

.MathJax_Display{
  overflow-x: auto;
  overflow-y: hidden;
}

#changeTheme{
  cursor: pointer;
}

.tag-line{
  font-size: 1.5em;
}

.right-links{
  word-spacing: 1em;
}

.maincontent blockquote{
  color: var(--dim);
}

.main-content{
  max-width: 43rem;
  margin: 0rem auto;
  padding: 2rem .75rem;
  font-size: 1.2rem;
}

.page-header-simple{
  padding: 1em;
  font-size: 1.4em;
  font-weight: 500;
}

.page-header-simple a, 
.page-header-simple a:hover, 
.page-header-simple a:visited{
  color: var(--link-red);
  font-size: 0.85em;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer a, 
footer a:hover, 
footer a:visited{
  color: var(--link-green);
}

.page-header-simple a:hover{
  text-decoration: none;
}

a, a:visited, a:hover{
 color: var(--link); 
}

.main-content h1, 
.main-content h2, 
.main-content h3,
.main-content h4, 
.main-content h5, 
.main-content h6{
  color: var(--text);
  font-weight: 500; 
}

.main-content h1{
  font-size: 2rem
}

.main-content h2{
  font-size: 1.5rem
}

.main-content h3{
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
}

.main-content h4{
  font-weight: 300;
}

.main-content h5{
  font-size: 1.1rem;
  font-weight: 300;
}


.main-content table{
  display: table;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.22), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.main-content table th, .main-content table td {
    border: none;
}

.main-content table th{
      background: var(--bg);
      border-bottom: 1px solid var(--link-red)
}

.main-content table tr:nth-child(odd){
  background-color: #071636;
}


.main-content table th{
  font-weight: bold;
}

// code highlight

.main-content code,
.main-content pre{
  font-family: 'IBM Plex Mono', monospace;
  font-weight: normal!important;
  color:  var(--code-text);
  background-color: var(--code-bg);
}

.main-content code{
  color: var(--inline);
  padding: 5px;
  border-radius: 3px;
}

.main-content .highlight *{
  font-weight: normal!important;
}

.main-content pre {
    color:  var(--code-text);
    background-color: var(--code-bg);
    border: none;
    border-radius: 0rem;
}

.main-content pre > code{
  color: var(--code-text);
}

.highlight{
  border: none;
}

.highlight code{
  background-color: #070b14;
  color: #F9EAE1;
}

.highlighter-rouge .highlight{
  background-color: #070b14;
}

.highlight .o{
  font-weight: normal;
}

.highlight .k, .highlight .kv, .highlight .ow{
  color: #faba09;
}

.highlight .o, .highlight .bp, .highlight .kn, .highlight .kd{
  color: #f92472;
}

.highlight .nf, .highlight .nb{
  color: #73e6fe;
}

.highlight .mi, .highlight .mh, .highlight .mf{
  color: #ac80ff;
}

.highlight .nn{
  color: #efeae1;
}

.highlight .s, .highlight .s2{
  color: #ff695a;
}

.highlight .kt {
  color: #00cca0;
}



@media only screen and (max-width: 600px) {
  .right-links{
    word-spacing: 0.25em;
  }
  .page-header-simple{
    padding: 0.75em;
  }
}

// @media (prefers-color-scheme: light) {
//     :root {
//           --bg: #ffffff;
//           --text: #141414;
//           --link: #006aa2; 
//           --link-green: #00801A;
//           --link-red: #A72937;
//           --dim: #494f51;
//           --code-text: #fff;
//           --code-bg: #f6f8fa;
//           --border-line: #0002;
//     }
// }